.mlinnopolis
.mypy_cache
.vscode
.coverage
__pycache__
/Module2/Lesson22/test_list_numbers.txt
/Module2/Lesson22/path_8_8.zip
/Module2/Lesson22/recursive_challenge_8_8.zip
/Module2/Lesson25/data
/Module2/Lesson32/dataset
/Module2/Lesson32/dataset_light
/Module3/Lesson34/data
/Module3/Lesson35/data
/Module3/Lesson36/train.csv
/Module3/Lesson38/smoking_data
/Module3/Lesson43/penguins.csv
/Module3/Lesson54/aml_models
/Module4/Lesson55/fashion
/Module4/Lesson56/data
/Module4/Lesson57/data
/Module4/Lesson58/data
/Module4/Assessment4/training.csv
/FinalAssessment/artifacts_r0
/FinalAssessment/artifacts_r1
/FinalAssessment/hmdb51_data
/FinalAssessment/swin3d_b.pth
/FinalAssessment/swin3d_b.onnx
/FinalAssessment/swin3d_b_fp16.onnx
/Module4/Lesson59/train
/Module4/Lesson59/train_masks
/Module4/Lesson59/train.zip
/Module4/Lesson59/train_masks.zip
/Module4/Lesson59/images
/Module4/Lesson59/masks
/Module4/Lesson59/kaggle.json