.mlinnopolis
.mypy_cache
.vscode
.coverage
__pycache__
/Module2/Lesson22/test_list_numbers.txt
/Module2/Lesson22/path_8_8.zip
/Module2/Lesson22/recursive_challenge_8_8.zip
/Module2/Lesson25/data
/Module2/Lesson32/dataset
/Module2/Lesson32/dataset_light
/Module3/Lesson34/data
/Module3/Lesson35/data
/Module3/Lesson36/train.csv
/Module3/Lesson38/smoking_data