.mlinnopolis
.mypy_cache
/Module2/Lesson16/__pycache__/
/Module2/Lesson18/__pycache__/
/Module2/Lesson20/__pycache__/
/Module2/Lesson22/__pycache__/
/Module2/Lesson26/__pycache__/
/Module2/Lesson22/test_list_numbers.txt
/Module2/Lesson22/path_8_8.zip
/Module2/Lesson22/recursive_challenge_8_8.zip